<div class="container-fluid"> 
<div class="row my-5 py-5">
    <div class="col-4"></div>
    <div class="col-4 text-center my-5 py-5 fs-3">
        {{#with id_dict_to_pass}}
        <p>Η υποβολή σας ήταν επιτυχής. Η αναφορά έχει καταχωρηθεί με κωδικό βλάβης {{failure_id_passed}}</p>
        
        <p>Κάντε κλικ <a href="/failure?failure_id={{failure_id_passed}}">εδώ</a> για να δείτε την αναφορά σας</p>
        {{/with}}
    </div>
</div>
</div>