<div class="container-fluid">   
    <div class="row mt-5">
        <div class="col-4"></div>
        <div class="col-4 mt-5">
            <div class="row mt-5">
                <div class="col-12 mt-5">
                    <h3 class = "my-5 text-center"> Εσάγετε τον κωδικό διαχειριστή</h3>
                    <form class="d-flex" method="GET" action='/admin_history' >
                    <input class="form-control me-2" type="text" placeholder="" name="input_text">
                    <button class="btn btn-outline-success" type="submit">Enter</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{#with error}}
                        <p class="fst-italic">{{message}}</p>
                        {{!-- <p class="fst-italic">{{e_type}}</p> --}}
                    {{/with}}
                </div>
            </div>
        </div>
    </div>
</div>