<form class="d-flex" method="GET" action='/contractor_page' >
    <input class="form-control me-2" type="text" placeholder="insert contractor serial number" name="input_text">
    <button class="btn btn-outline-success" type="submit">Enter</button>
</form>